{
  "app": "npx ts-node --prefer-ts-exts bin/index.ts",
  "watch": {
    "include": [
      "**"
    ],
    "exclude": [
      "README.md",
      "cdk*.json",
      "**/*.d.ts",
      "**/*.js",
      "tsconfig.json",
      "package*.json",
      "yarn.lock",
      "node_modules",
      "test"
    ]
  },
  "context": {
    "dev": {
      "env": {
        "account": "0000000000",
        "region": "ap-northeast-1"
      }
    },
    "prd": {
      "env": {
        "account": "111111111",
        "region": "ap-northeast-1"
      }
    }
  }
}
